table
{
    background-color:#aaaaaa;
}

#firstname
{
    /* the # sign indicates that we are targeting a specific id for an element */
    border-color:black;
}

#boxmodel
{
    /* The outermost layer of the box model is the margin */
    margin:50px;

    /* The next layer is the border, this is what i consider the limit of the element */
    border:5px solid black;

    /* The next layer is the padding, this is the space between the border and the content */
    padding:10%;
}

div
{
    margin: 25% 10%;
    border: 1px solid black;
    padding: 5px;
}